<div #menu class="common active">
  <div class="menu">
    <div class="input-btn-back">
      <input class="input" type="text" [(ngModel)]="text" />
      <button class="btn wrap-unwrap" (click)="wrapUnwrap()">
        <img [src]="wrapText" alt="" />
      </button>
    </div>

    <div class="btns-slider">
      <div class="btns">
        <div *ngFor="let button of buttons">
          <button
            [class]="button.buttonsClassList"
            (click)="addStyle(button.textClassList)"
          >
            {{ button.buttonText }}
          </button>
        </div>
      </div>

      <div class="slider">
        <input
          [(ngModel)]="size"
          (change)="sizeFont()"
          type="range"
          min="1"
          max="20"
          step="1"
          class="input-slider"
        />
      </div>
    </div>
  </div>

  <div class="output">
    <div #textBlock class="color color-one">
      {{ text }}
    </div>
  </div>
</div>
